# =========================
# macOS specific files
# =========================
.DS_Store
.AppleDouble
.LSOverride
._*
.Trash-*
.VolumeIcon.icns

# =========================
# Windows specific files
# =========================
*.exe
*.dll
*.obj
*.pdb

# =========================
# LÖVE specific files
# =========================
*.love
*.zip
/build/
/dist/
/bin/
/releases/

# =========================
# Lua specific files
# =========================
*.log
luac.out

# =========================
# Editor specific files
# =========================
# VS Code
.vscode/
*.code-workspace
# ZeroBrane Studio
*.cfg
# IntelliJ / Others
.idea/
*.swp

# =========================
# Game save files
# =========================
*.sav
*.json
# If you want to ignore specific save files, you can add them here. For example:
# save_data.json
# config.ini
